html, body {
    height: 100%;
}

body {
    margin: 0;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    padding: 40px;
}

form {
    grid-gap: 6px;
    display: flex;
    flex-direction: column;
}

.input-label {
    width: 74px;
    display: block;
    float: left;
}

.input-text {
    width: 400px;
}
